*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #070A52;
}
nav{
    width: 100vw;
    height: 10vh;
}
.logo{
    height: 10%;
    width: 10%;
    position: absolute;
    right: 0;
}
.div-1{
    width: 100vw;
    height: 80vh;
 
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.main-form{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    border: 1px solid #070A52;

}
.left{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.left img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.middle{
    padding-left: 3%;
    height: 100%;
    width: 40%;

  
}
.middle h1{
    margin-bottom: 2%;
}
.input-icons{
    height: 10%;
    width: 100%;
    margin-top: 4%;
}
.input-field{
    height: 60%;
    width: 80%;
    padding-left: 2%;
 
}
.input-icons p{
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}
.middle button{
    margin:20%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    width: 35%;
   
}
.right{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right .p1{
    font-weight: bold;
}
.icons-social{
    color: #070A52;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 3%;
}
.icons-social i{
    cursor: pointer;
}