*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #070A52;

}
nav{
    width: 100vw;
    height: 10vh;
}
.logo{
    height: 10%;
    width: 10%;
    position: absolute;
    right: 0;
}
.div-1{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.main-form{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    border: 1px solid #070A52;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.left{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.left img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.middle{
    padding: 2%;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column; 
}
.middle h1{
    margin: 0 auto;
    margin-top: 1%;
}

.input-icons{
    height: 10%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
}
.input-field{
    height: 70%;
    width: 80%;
    padding-left: 2%;
    border: 0.2px solid black;
    border-radius: 5px;
    margin-left: 5%;
 
}
.input-icons p{
    font-weight: 600;
    margin-left: 5%;
}
.middle button{
  
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    width: 40%;
    margin: 0 auto;
    margin-top: 3%;
    cursor: pointer;  
}
.p1{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.icons-social{
    color: #070A52;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.icons-social i{
    cursor: pointer;
}
footer{
    height: 5vh;
    width: 100vw;
}
.divider-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.line{
    border: 1px solid #070A52;
    width: 40%;
}
.OR{

    margin-left: 1%;
    margin-right: 1%;
    font-weight: bold;
}
@media screen and (max-width: 480px) {
    .left{
        width: 0;
        height: 0;
    }
    .middle{
        height: 100%;
        width: 100%;
    }
    .middle h1{
        font-size: 1.5em;
    }
    .middle button{
        margin-top: 7%;
        margin-bottom: 3%;
    }
    .input-icons{
        margin-top: 3%;
        margin-bottom: 2%;
    }
    .input-icons p{
        font-size: 0.9em;
    }
    .input-icons i{
        padding-left: 2%;
    }
    .p1{
        margin-top: 5%;
        font-size: 0.9em;
    }
    .icons-social{
        margin-top: 4%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    
}