*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: white;
}
nav{
    width: 100vw;
    height: 10vh;

}
.logo{
    height: 10%;
    width: 10%;
    position: absolute;
    right: 0;
}
.div-1{
    width: 100vw;
    height: 80vh;
    padding-top: 7%;
    background-color: #070A52;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;     
}
.main-content{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 

}
.main-content h1{
    font-size: 2.5em;

}
.main-content p{
    font-size: 1.5em;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
    width: 45vw;

}
.login-button{
    width: 40%;
    height: 35%;
    background-color: #D21312;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1em;
}
.login-button a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    
}
.signup-button{
    width: 40%;
    height: 35%;
    background-color: #D21312;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1em;
}
.signup-button a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
footer{
    height: 10vh;
    width: 100vw;
}
@media screen and (max-width: 480px) {
    .logo{
        height: 10%;
        width: 20%;
    }
    .div-1{
        padding-top: 22%;
    }
    .main-content{
        width: 70%;
    }
    .main-content h1{
        font-size: 2em;
    }
    .main-content p{
        font-size: 1em;
    }
    .buttons{
        width: 50vw;
    }
    .login-button{
        width: 40%;
        height: 25%;
     
    }
    .signup-button{
        width: 40%;
        height: 25%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .logo{
        height: 10%;
        width: 15%;
    }
    .div-1{
        padding-top: 15%;
    }
    .main-content{
        width: 70%;
    }
    .main-content h1{
        font-size: 2.2em;
    }
    .main-content p{
        font-size: 1.2em;
    }
    .buttons{
        width: 50vw;
    }
    .login-button{
        width: 40%;
        height: 28%;
     
    }
    .signup-button{
        width: 40%;
        height: 28%;
    }
}


